ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 200;
    font-size: 16px;
    
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 7px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 25px 60px;
}

.resp-tab-active {
	border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 8px 10px 10px 10px !important;
	border-bottom: 0px #fff solid !important;
}
.resp-vtabs .resp-tabs-list li i {
    color: #000000;
    margin-right: 20px;
    padding: 15px 10px;
    width:50px;
    height: 50px;
    text-align: center;
}
.resp-vtabs .resp-tabs-list li i.fa-mobile {
    padding: 10px 10px;
}
.resp-vtabs .resp-tabs-list li i.fa-mobile {
    font-size:28px;
}
.resp-vtabs li.resp-tab-active i {
    color: #fbfbfb;
    padding: 14px 10px;
    border-radius: 0px;
    width: 50px;
    background: #006064;
    margin-right: 20px;
    height: 50px;
}
.resp-vtabs li.resp-tab-active i.fa-mobile {
    padding: 10px 10px;
}
.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.agileits-tab_nav {
    float: left;
    width: 30%;
	margin-top: 0!important;
	min-height: 450px;
}
ul.resp-tabs-list.hor_1 {
    margin-top: 0!important;
}
a.w3ls-ads {
    text-decoration: none;
    color: #0099e5;
    font-size: 15px;
    margin: 25px 0 0px 0;
    display: block;
    text-align: center;
}
a.w3ls-ads:hover {
	color:#ff4c4c;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 0px 0px !important;
    margin: 0 0 20px;
    cursor: pointer;
    float: none;
    border: 1px solid #F5F5F5;
    border-color: rgb(241, 241, 241)!important;
    background-color: #ffffff!important;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: rgba(243, 243, 243, 0.25);
    border: none;
    float: left;
    width: 70%;
    border: 1px solid transparent !important;
    border-radius: 0;
    clear: none;
	min-height: 400px;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}
/*-- 
li.resp-tab-item.hor_1.resp-tab-active:after {
    content: '';
    position: absolute;
    right: -18px;
    top: 6px;
    border-left: 1px solid #5AB1D0;
    border-right: 0px solid #5AB1D0;
    border-bottom: 1px solid #FFFFFF;
    transform: rotate(134deg);
    border-top: 1px solid #5AB1D0;
    padding: 0 33px 33px 0px;
}
--*/

.resp-vtabs li.resp-tab-active { 
	position: relative;
    z-index: 1;
    margin-right: 0px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0 0 20px 0 !important;
    background-color: #ff6f00 ! important;
    background: #ff6f00 ;
    color: #fff;
    position: relative;
}
.resp-vtabs li.resp-tab-active:after {
    content: '';
    border-top: 36px solid #ff6f00 ;
    border-right: 0px solid #ff6f00 ;
    border-left: 36px solid rgba(40, 236, 227, 0);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 7px;
    right: -17px;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 900px) {
	.resp-tabs-list li {
		font-size: 18px;	
	}
}
@media only screen and (max-width: 768px) {
	h2.resp-accordion.hor_1 i {
		width: 45px;
		text-align: center;
		color: #6d6d6d;
		font-size: 18px;
	}
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
@media (max-width: 768px){
	h2.resp-accordion {
		font-size: 17px;
		border: 1px solid #c1c1c1;
		border-top: 0px solid #c1c1c1;
		margin: 0px;
		padding: 15px 15px;
	}
	.agileits-tab_nav {
		float: none;
		width: 100%;
		margin-top: 0!important;
		min-height: auto;
		margin-bottom: 0px;
	}
}
@media (max-width: 480px){
	.resp-tab-content {
		padding: 25px 35px;
	}
}
@media (max-width: 414px){
	.resp-tab-content {
		padding: 15px 25px;
	}
}
@media (max-width: 320px){
	.resp-tab-content {
		padding: 15px 15px;
	}
}