body {
    background-color: #512E5F;
}

.content {
    position: inherit;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #ecf0f1;
}
.content__container {
    font-weight: 100;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}


.content__container__text {
    display: inline;
    color : #F5B7B1;
    font-size: 20px;
    float: left;
    margin: 0;
}
.content__container__list {
    margin-top: 0;
    padding-left: 90px;
    text-align: left;
    list-style: none;

}

.content__container__list1 {
    padding-left: 200px;
    text-align: left;
    list-style: none;
}

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #F1C40F;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #F1C40F;    }
}