
.sidebar[data-background-color="dark"] {
    background: #1a2035 !important; }
    .sidebar[data-background-color="dark"] .user {
      border-color: rgba(181, 181, 181, 0.1) !important; }
      .sidebar[data-background-color="dark"] .user .info a > span {
        color: #b9babf; }
        .sidebar[data-background-color="dark"] .user .info a > span .user-level {
          color: #8d9498; }
    .sidebar[data-background-color="dark"] .nav > .nav-item.active > a p {
      color: #b9babf !important; }
    .sidebar[data-background-color="dark"] .nav > .nav-item a {
      color: #b9babf !important; }
      .sidebar[data-background-color="dark"] .nav > .nav-item a:hover p, .sidebar[data-background-color="dark"] .nav > .nav-item a:focus p, .sidebar[data-background-color="dark"] .nav > .nav-item a[data-toggle=collapse][aria-expanded=true] p {
        color: #b9babf !important; }
    .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:hover, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:focus, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a[data-toggle=collapse][aria-expanded=true] {
      background: #fff !important;
      color: #1a2035 !important; }
      .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a p, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a i, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a .caret, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:hover p, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:hover i, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:hover .caret, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:focus p, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:focus i, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a:focus .caret, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a[data-toggle=collapse][aria-expanded=true] p, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a[data-toggle=collapse][aria-expanded=true] i, .sidebar[data-background-color="dark"].sidebar-style-2 .nav .nav-item.active > a[data-toggle=collapse][aria-expanded=true] .caret {
        color: #1a2035 !important; }
    .sidebar[data-background-color="dark"] .scrollbar-inner > .scroll-element .scroll-bar {
      background-color: #f7f7f7; }
    .sidebar[data-background-color="dark"] .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar, .sidebar[data-background-color="dark"] .scrollbar-inner > .scroll-element:hover .scroll-bar {
      background-color: #dcdbdb; }
  