
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body { font-family: 'Roboto', sans-serif; background: #fafafa; }
p { font-family: 'Roboto', sans-serif; font-size: 1.1em; font-weight: 300; line-height: 1.7em; color: #999; }
a, a:hover, a:focus { color: inherit; text-decoration: none; transition: all 0.3s; }
.navbar { padding: 5px 10px; background: #fff; border: none; border-radius: 0; margin-bottom: 40px; box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.navbar-btn { box-shadow: none; outline: none !important; border: none; }
.line { width: 100%; height: 1px; border-bottom: 1px dashed #ddd; margin: 40px 0; }
.nav-link .img-profile { height: 2rem; width: 2rem; }

#sidebar {
    width: 250px; position: fixed; top: 0; left: -250px; height: 100vh; z-index: 1200;
    background: #7386D5; color: #fff; transition: all 0.3s; overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active { left: 0; }
#dismiss {
    width: 35px; height: 35px; line-height: 35px; text-align: center; background: #7386D5;
    position: absolute; top: 10px; right: 10px; cursor: pointer; -webkit-transition: all 0.3s;
    -o-transition: all 0.3s; transition: all 0.3s;
}
#dismiss:hover { background: #fff; color: #7386D5; }
.overlay {
    display: none;  position: fixed; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7);
    z-index: 998; opacity: 0; transition: all 0.5s ease-in-out;
}
.overlay.active { display: block; opacity: 1; }
#sidebar .sidebar-header { padding: 10px 20px; background: #6d7fcc; }
#sidebar ul.components { padding: 20px 0; border-bottom: 1px solid #47748b; }
#sidebar ul p { color: #fff; padding: 10px; }
#sidebar ul li a { padding: 10px; font-size: 1.1em; display: block; }
#sidebar ul li a:hover { color: #7386D5; background: #fff; }
#sidebar ul li.active>a, a[aria-expanded="true"] { color: #fff; background: #6d7fcc; }
a[data-toggle="collapse"] { position: relative; }
.dropdown-toggle::after { display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); }
ul ul a { font-size: 0.9em !important; padding-left: 30px !important; background: #6d7fcc; }
ul.CTAs { padding: 20px; }
ul.CTAs a { text-align: center; font-size: 0.9em !important; display: block; border-radius: 5px; margin-bottom: 5px; }
a.download { background: #fff; color: #7386D5; }
a.article, a.article:hover { background: #6d7fcc !important; color: #fff !important; }

/* CONTENT */

#content { width: 100%; padding: 0px; min-height: 100vh; transition: all 0.3s; position: absolute; top: 0; right: 0; }
.text-gray-800 { color: #5a5c69!important; }
.text-gray-300 { color: #dddfeb!important; }
.font-weight-bold { font-weight: 700!important; }

.card
{
    position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical;
    -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column;  min-width: 0;
    word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid #e3e6f0; border-radius: .35rem;
}

.border-left-primary { border-left: .25rem solid #4e73df!important; }
.content_body { margin-top: 60px; padding: 10px 25px; }
.shadow { box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15); -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15); }
form.user .form-control-user { font-size: 1rem; border-radius: 5rem; padding: 0.8rem 1rem; }

.form-control-1 {
    display: block; width: 100%; border-radius: 10rem; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem;
    font-size: 1rem; font-weight: 400; line-height: 1.2; color: #6e707e; background-color: #fff; background-clip: padding-box;
    border: 1px solid #d1d3e2; border-radius: .35rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-control-1:focus { border-color: #5DADE2; box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15); -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15); }
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:hover, select:focus, button:focus, button:active,
label:focus { outline:0px !important; -webkit-appearance:none; box-shadow: none !important; }
.icon-bg { font-size :36px;}  .icon-lb { font-size :40px;}
.form-label { font-size :14px; padding-left: 15px; margin-bottom: 3px;}
.dropdown-toggle:after { content: none }


