/* Vertical Tabs */
.vertical-tabs{
  font-size:15px;
  padding:10px;
  color:#000
}
.vertical-tabs .nav-tabs .nav-link{
  border-radius: 0;
  background:white;
  text-align:center;
  font-size: 16px;
  border:0px;
  color:#85C1E9;
  height:40px;
  width: 120px;
  margin:6px 2px;
  border-radius: 10px;
  box-shadow: 0 1px 20px 5px rgba(39, 39, 39, 0.1);
}
.vertical-tabs .nav-tabs .nav-link.active{
  background-color:#85C1E9!important;
  color:#fff;
}
.vertical-tabs .tab-content>.active{
  background:#fff;
  display:block;
}
.vertical-tabs .nav.nav-tabs{
  border-bottom:0;
  border-right:3px solid #85C1E9;
  display:block;
  float:left;
  margin-right:20px;
  padding-right:15px;
}
.vertical-tabs .sv-tab-panel{
  background:#fff;
  height:274px;
  padding-top:10px;
}
@media only screen and (max-width: 420px){
.titulo{font-size: 22px}
}
@media only screen and (max-width: 325px){
.vertical-tabs{ padding:8px;}
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color:#fff;
  font-size: 9px;
}
